body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
}

.bots-container{
    width: 30vw;
    height: 60vh;
    top: 10vh;
    left: 60vw;
    overflow-y: auto;
    word-wrap: break-word; 
    text-align: left; 
    position: absolute;
}

.bot-info {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.bot-info p {
    margin-right: 10px;
}

.bot-buttons-container {
    display: flex;
    align-items: center;
}

.bot-buttons-container button {
    margin-left: 5px; /* Добавлено небольшое пространство между кнопками */
}

.comments-container {
    width: 500px; 
    height: 670px;
    overflow-y: auto;
    margin-bottom: 10px;
    word-wrap: break-word; 
    border: 1px solid #333; 
    padding: 10px; 
    text-align: left; 
    position: absolute;
    top: 5px; 
    left: 5px; 
}

.comments-container input[type="comment"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px; /* Задайте желаемую ширину инпутов */
}

input[type="comments"]:last-child {
    margin-bottom: 0;
}

.status-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    text-align: right; /* Выравнивание текста по правому краю */
    position: absolute; /* Позиционирование абсолютно */
    top: 5px; /* Расположение текста вверху */
    right: 20px; /* Расположение текста справа */
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
}

input[type="link"] {
    padding: 10px;
    border: 300px;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 25px;
    border: none;
    margin-left: 10px; 
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #777;
}
