body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    height:200vh;
    width:98vw;
}

.bots-container{
    width: 40vw;
    height: 80vh;
    left: 50vw;
    overflow-y: auto;
    top:10px;
    text-align: left; 
    position: absolute;
}

.bot-info {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.bot-info p {
    margin-right: 10px;
}

.bot-buttons-container {
    display: flex;
    align-items: center;
}

.bot-buttons-container button {
    margin-left: 5px; /* Добавлено небольшое пространство между кнопками */
}

.comments-container {
    width: 40vw; 
    height: 80vh;
    overflow-y: auto;
    word-wrap: break-word; 
    position: absolute;
    top:10px;
    left:10px;
}

input[type="comment"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 1000px;
}

.comment-container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.comments-container p {
    margin-right: 10px;
}

input[type="comments"]:last-child {
    margin-bottom: 0;
}

.links-container {
    width: 40vw; 
    height: 80vh;
    overflow-y: auto;
    word-wrap: break-word;
    position: absolute;
    top:100vh;
    left:10px;
}

input[type="inputLink"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 1000px;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: space-between
}



.link-container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.link-container p {
    margin-right: 10px;
}

input[type="links"]:last-child {
    margin-bottom: 0;
}

input[type="link"] {
    width: 8vw;
    padding: 10px;
    border: 300px;
    border-radius: 5px;
    margin-right: 10px;
}

.status-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    text-align: right; /* Выравнивание текста по правому краю */
    position: absolute; /* Позиционирование абсолютно */
    top: 5px; /* Расположение текста вверху */
    right: 20px; /* Расположение текста справа */
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
}

button {
    padding: 10px 25px;
    border: none;
    margin-left: 10px; 
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #777;
}

/* Switch toggle */
.toggle-switch {
    position: relative;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
  
.toggle-checkbox {
    display: none;
}
  
.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background-color: #ccc;
    transition: background-color 0.3s;
}
  
.toggle-checkbox:checked + .toggle-label {
    background-color: #4caf50;
}
  
.toggle-label:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
  
.toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(30px);
}

.toggle-container {
    width: 40vw;
    height: 12vh;
    display: flex;
    position: absolute; 
    bottom: 20px;
    left: 20px;
}

.toggle-container-1{
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    position: absolute; 
    
}

.toggle-container-2{
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    position: absolute; 
    top:50%;
}



